* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
	background: hsl(218, 22%, 67%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

main {
	max-width: 640px;
	width: 100%;
	background: white;
	border-radius: 8px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

section {
	padding: 40px;

	&.hero {
		grid-column-start: 1;
		grid-column-end: 3;

		& > h2 {
			color: hsl(179, 62%, 43%);
			margin: 8px 0 24px;
		}

		& > h3 {
			color: hsl(71, 73%, 54%);
		}

		& > p {
			color: hsl(227, 8%, 62%);
			margin-bottom: 16px;
		}
	}

	&.price-part,
	&.why-us {
		color: white;
	}

	&.price-part {
		background: hsl(179, 62%, 43%);
	}

	&.why-us {
		background: hsl(179, 62%, 53%);
	}
}

#price {
	margin: 8px 0;
	color: hsl(227, 8%, 62%);
	& > span {
		font-size: 24px;
		font-weight: 700;
	}
}
